
<p>Select Name</p>
<select [(ngModel)]="selectedName" (change)="onNameSelected()">
  <option *ngFor="let n of userNames"
          [value]="n.name">
    {{n.name}}
  </option>
</select>


<table class="table">
  <thead>
    <tr>
      <th>Currency Type</th>
      <th>GBP Amount</th>
      <th>Converted Amount</th>
      <th>TimeConverted</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let c of userConversions">
      <td>{{c.currencyType}}</td>
      <td>{{c.gbpAmount | number:'1.2-2'}}</td>
      <td>{{c.convertedAmount | number:'1.2-2'}}</td>
      <td>{{c.timeConverted}}</td>
    </tr>
  </tbody>
</table>
